.choice {
  padding: 20px 15px 20px 15px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
}
.choice__all {
  cursor: pointer;
  display: flex;
  color: black;
}
.choice__all.active {
  color: #725fee;
}
.choice__all img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.choice__nav {
  display: flex;
}
.choice__nav-item {
  cursor: pointer;
  list-style: none;
  margin-right: 100px;
}
.choice__nav-item:hover {
  color: #725fee;
}
.choice__nav-item.active {
  color: #725fee;
}
@media (max-width: 1250px) {
  .choice__nav-item {
    list-style: none;
    margin-right: 70px;
  }
}
@media (max-width: 1000px) {
  .choice__nav-item {
    font-size: 15px;
    list-style: none;
    margin-right: 28px;
  }
}
@media (max-width: 768px) {
  .choice {
    padding: 15px 15px 20px 15px;
  }
  .choice__nav {
    display: none;
  }
}
