img {
  width: 100%;
}
h1 {
  font-family: "Bebas Neue", sans-serif;
  color: rgb(0, 0, 0);
}
.header__content {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(143, 143, 143);
}
.header__content p {
  margin: 6px 0;
}
.header__work button {
  max-width: 40px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  margin-right: 16px;
}
.header__work button:nth-child(3) {
  margin-right: 0;
}

.header__search {
  display: flex;
}

.header__search input:focus {
  outline: none;
}

.txt_bolt {
  font-weight: 700;
  color: rgb(0, 0, 0);
}
